<a href="https://colab.research.google.com/github/patternproject/r.sb.pos.1/blob/main/Cleanup_Regions_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# READ ME
## Clean up the Region Data against the City

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df_master = read_csv("/content/Book3.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  `EMP ID` = col_double(),
  Name = col_character(),
  Gender = col_character(),
  `Team Leader` = col_character(),
  `AM & FM` = col_character(),
  Project = col_character(),
  Territory = col_character(),
  City = col_character()
)

In [3]:
glimpse(df_master)

Rows: 18
Columns: 8

ERROR: ignored

In [4]:
head(df_master)

Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
ERROR while rich displaying an object: Error in gsub(chr, html_specials[[chr]], text, fixed = TRUE): input string 2 is invalid in this locale

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_markdown.data.frame(obj)
9. repr_matrix_generic(obj, "\n%s\n\n%s%s\n", sprintf("|%%s\n|%s|\n",
 .     underline), NULL, " <!--/--> |", " %s |", "%s", "|%s\n",
 .     " %s |", " %s |", escape_fun = markdown_escape, rows = rows,
 .     cols = cols, ...)
10. lapply(seq_len(nrow(x)), function(r) {
  .     row <- escape_fun(slice_row(x, r))
  .     cells <- sprintf(cell, row)
  .     if (has_rownames) {
  .         row_head <- sprintf(row_head, escape_fun(rownames(x)[[r]]))
  .         cells <- c(row_head, cells)
  .     }
  .     sprintf(row_wrap, paste(cells, collapse = ""))
  . })
11. FUN(X[[i]], ...)
12. escape_fun(slice_row(x, r))
13. html_escape(values, do_spaces = FALSE)
14. gsub(chr, html_specials[[chr]], text, fixed = TRUE)
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”
Warning message in FUN(X[[i]], ...):
“input string 2 is invalid in this locale”

  EMP ID Name                     Gender Team Leader       AM & FM
1 33409  Muhammad Ahmar           Male   Tanveer Zaman     M.Umar
2 36750  Salman Khan              Male   Tanveer Zaman     M.Umar
3 30919  Farasat\xa0Shah          Male   Waqar Ahmed       Waqar Ahmed
4 36731  Muhammad Waqas Shahid    Male   Salman Khan (YYT) Waqar Ahmed
5 37459  Muhammad Saad            Male   Muhammad Mushtaq  M.umar
6 35198  Touqeer Ahmed            Male   Salman Khan       M.umar
  Project      Territory                 City
1 OB Insurance G-9, G-11, F-17 & Tarnol  ISB
2 OB Insurance PWD                       Rwp
3 Operations   Saddar                    Rwp
4 Non voice    G-7, G-8                  ISB
5 OMO Campaign G-10, F11, E11, G-11,F-10 ISB
6 Web Doc      Murree Road               Rwp

In [5]:
nrow(df_master)

[1] 18

In [11]:
df_1 <- df_master %>%
  separate(Territory, c("1","2","3","4"),",") %>%
  select(-c(1:6))

Warning message:
“Expected 4 pieces. Additional pieces discarded in 1 rows [5].”
Warning message:
“Expected 4 pieces. Missing pieces filled with `NA` in 17 rows [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18].”

In [12]:
df_1

   1                       2                3              4     City
1  G-9                      G-11             F-17 & Tarnol NA    ISB
2  PWD                     NA               NA             NA    Rwp
3  Saddar                  NA               NA             NA    Rwp
4  G-7                      G-8             NA             NA    ISB
5  G-10                     F11              E11            G-11 ISB
6  Murree Road             NA               NA             NA    Rwp
7  Lal Kurti               NA               NA             NA    Rwp
8  I-10                     I-9              Khayaban      NA    Rwp/ISB
9  Double Rd                Faizabad         I-8           NA    Rwp/Isb
10 Pindora                  Setallite Town  NA             NA    Rwp
11 Khanna Pul              NA               NA             NA    Rwp
12 I-8                      Mandi Morh      Sohan          NA    Rwp/Isb
13 I-8                      I-9             NA             NA    ISB
14 F-8                      F-7             F-6            NA    ISB
15 Commercial Market       NA               NA             NA    Rwp
16 Bhara Kahu              NA               NA             NA    ISB
17 Sadiq Abad Service Road NA               NA             NA    Rwp
18 Golra Morh               Ali Bakhsh Town NA             NA    ISB

In [17]:
write_csv(df_1,"North.csv")

In [18]:
df_n_reg = read_csv("/content/North-ISL-1.csv",col_names=FALSE)

── Column specification ────────────────────────────────────────────────────────
cols(
  X1 = col_character()
)

In [19]:
head(df_n_reg)

  X1
1 G-9
2 G-7
3 G-10
4 I-10
5 I-8
6 I-8

In [21]:
north_dist <- distinct(df_n_reg,X1)

In [22]:
write_csv(north_dist, "North_dist.csv")